.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #ffffff url(../../assets/transparent-bgs/retina-wood.png);
}


.info-card{
    padding: 20px;

    display: flex;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background: #ffffff;
}

.image-container{
    width: 300px;
    border-right: 2px solid rgba(0,0,0,0.2);
}

.image-container img{
    width: 300px;
    padding: 20px;
}

.info-text{
    padding: 20px;
}

.pop-name-desktop, .pop-name-mobile{
    margin-bottom: 20px;
}

.pop-name-mobile{
    display: none;
}

.info-card i{
    font-size: 30px;
    margin: 10px;

    transition-property: color;
    transition-duration: 0.5s;
}

.info-card i:hover{
    cursor: pointer;
}

.info-card .add-buttons{
    display: flex;
    justify-content: center;
}

.series-info, .category-info, .number-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.more-in{
    width: 100%;

    margin-top: 10px;
    margin-bottom: 0;

    padding: 5px;

    color: #1C1C1E;
}

.more-in-series, .more-in-category{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    overflow-x: scroll;
    overflow-y: hidden;

}


.series-pops, .category-pops{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.individual-series-pop, .individual-category-pop{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
    

    transition: all .2s ease-in-out;

    background: #ffffff;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

    margin: 0 3px;
}

.individual-series-pop:hover, .individual-category-pop:hover{

    cursor: pointer;

    transform: scale(1.3);
    
}

.individual-series-pop img, .individual-category-pop img{
    width: 100%;
}

@media only screen and (max-width: 767px) {

    .content{
        padding: 10px;
    }

    .info-card .image-container{
        border-right: none;
        border-bottom: 2px solid rgba(0,0,0,0.2);

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-card{
        width: 100%;

        flex-direction: column;
        padding: 5px;
    }

    .info-card .image-container img{
        padding: 10px;
        width: 275px;
    }

    .info-separator{
        display: none;
    }

    .series-info, .category-info, .number-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 12px;

        width: 100%;

        text-align: center;

        margin-bottom: 10px;
    }

    .pop-name-mobile{
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .pop-name-desktop{
        display: none;
    }
}

@media only screen and (max-width: 480px) {
}