.content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    background: #282B2D;
}

.specific-pop-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

::-webkit-scrollbar{
    display: none;
}


.info-card{

    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background: #ffffff;

    border: 15px solid #1C1C1E;
    width: 300px;

    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.image-container{
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    padding: 10px
}

.image-container img{
    width: 100%;
}

.info-text{
    padding-top: 20px;
    background: #1C1C1E;
    color: #ffffff;
}

.pop-name{
    width: 100%;
    padding-bottom: 10px;
    background: #1C1C1E;
    color: #2dde98;
    font-weight: bold;
}

.info-card i{
    font-size: 30px;
    margin: 10px;

    transition-property: color;
    transition-duration: 0.5s;
}

.info-card i:hover{
    cursor: pointer;
}

.info-card .add-buttons{
    display: flex;
    justify-content: center;
}

.series-info, .category-info, .number-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-container{
    width: 100%;
}

.more-pops-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.more-pops-container .more-pops{
    width: 100%;

    margin-top: 20px;

    border: 1px solid #32393c;
}


.more-in{
    width: 100%;

    margin-top: 10px;
    margin-bottom: 0;

    padding: 5px 5px 5px 0;

    color: #ffed68;
    text-align: center;
}

.more-in-series, .more-in-category{

    margin: 20px 0;
}


.series-pops, .category-pops{
    display: flex;
    justify-content: center;
    align-items: center;


}

.more-in-series .more-carousel-item, .more-in-category .more-carousel-item{
    width: 200px;
    height: 200px;
    background: #ffffff;
}

.more-in-series .more-carousel-item:hover, .more-in-category .more-carousel-item:hover{
    cursor: pointer;
}


.right-column-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100% - 300px);
    padding-left: 10px;

    overflow-y: scroll;
}

.table-info-notes{
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 0;
    color: #ffed68;
}

.table-info-notes i{
    padding-left: 10px;
}

.ebay-table-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.available-ebay-listings{
    width: 100%;
    overflow-x: hidden;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    color: #ffffff;
    margin-top: 20px;
    font-size: 12px;
}

tr a{
    color: #ffffff;
}

tr a:active{
    color: #3ca5ad;
}

/* Zebra striping */
tr:nth-of-type(even) { 
    background: rgba(31,36,39,1); 
}

tr:nth-of-type(odd) { 
    background: #1C1C1E; 
}

table .image-column img{
    width: 50px;

}

th{
    font-weight: bold;
}

th, td {
    padding: 5px 10px;
  }

.listing-countdown{
    min-width: 100px;
}

.listing-title:hover{
    color: #65e4f5
}

.past-listings-btn{
    background: #00aeff;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;

    transition-property: background;
    transition-duration: 0.5s;
}

.past-listings-btn:hover{
    cursor: pointer;
    background: rgba(0, 174, 255, 0.5);
}

.buy-it-now{
    color: #00aeff;
    padding: 10px 10px 0 0;
    font-size: 15px;
}

.auction{
    color: #ff4f81;
    padding: 10px 10px 0 0;
    font-size: 15px;
}

.best-offer{
    color: #44C8BA;
    padding: 10px 10px 0 0;
    font-size: 15px;
}

.center-loading{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {

    .content{
        padding: 10px;
        flex-direction: column;
    }

    .specific-pop-info{
        width: 100%;
    }

    .right-column-container{
        width: 100%;
        padding: 0;
    }

    .right-column-container canvas{
        margin: 20px 0;
    }

    .info-card .image-container{
        border-right: none;
        border-bottom: 2px solid rgba(0,0,0,0.2);

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-card{
        width: 100%;

        flex-direction: column;

        margin-bottom: 20px;
    }

    .info-card .image-container img{
        padding: 10px;
        width: 275px;
    }

    

    .info-separator{
        display: none;
    }

    .info-text{
        text-align: center;
    }


    .more-pops-container{
        flex-direction: row;
    }

    .series-info, .category-info, .number-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 12px;

        width: 100%;

        text-align: center;

        margin-bottom: 10px;
    }

    .pop-name{
        display: block;
        text-align: center;
    }

    table { 
        font-size: 12px;
    }


    .more-in-series, .more-in-category{
        height: auto;

    }

    .series-pops, .category-pops{
    
        padding: 0;
    }
}

/* 
    Modification of 
    https://css-tricks.com/responsive-data-tables/
    for responsive table design
*/
@media only screen and (max-width: 480px)  {

    .more-pops-container{
        flex-direction: column;
    }

    table{
        margin-top: 0;
    }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table .column-headings { 
		display: none;
    }
    
    table .image-column img{
        width: auto;
    }

    table tr{
        padding: 5px;
    }
		
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
        padding: 10px 5px 10px 35%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 45%; 
        padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(2):before { content: "Title"; }
	td:nth-of-type(3):before { content: "Location"; }
    td:nth-of-type(4):before { content: "Current Price"; }
    td:nth-of-type(5):before { content: "Ends In"; }

    .sold-ebay-listings td:nth-of-type(2):before { content: "Title"; }
	.sold-ebay-listings td:nth-of-type(3):before { content: "Location"; }
    .sold-ebay-listings td:nth-of-type(4):before { content: "Sold Price"; }
    .sold-ebay-listings td:nth-of-type(5):before { content: "Sold Date"; }

    .ebay-table-header{
        flex-direction: column;
        align-items: flex-start;
        background: #1C1C1E;
        color: #ffffff;
        padding: 10px;

    }
    .ebay-table-header h4{
        text-align: center;
        color: #44C8BA;
        font-size: 16px;
    }

    .ebay-table-header .table-info-notes{
        margin: 10px 0 0 0 ;
    }
}