<div class='content' *ngIf='basicInfo != null'>
  <div class='specific-pop-info'>
    <div class='info-card animated bounceInLeft'>
  
      <h5 class='pop-name'>{{ basicInfo.name }}</h5>
  
      <div class='image-container'>
        <img src="http://localhost:8000/api/funkopop/{{ basicInfo.image }}" />
      </div>
      <div class="info-text">
        
        <div class='series-info'>
            <h6>Series</h6>
            <h6 class='info-separator'>&nbsp; - &nbsp;</h6>
            <h6>Pop! {{ basicInfo.seriesName }} </h6>
        </div>
  
        <div class='category-info'>
            <h6>Category</h6>
            <h6 class='info-separator'>&nbsp; - &nbsp;</h6>
            <h6>{{ basicInfo.categoryName }}</h6>
        </div>
  
        <div class='number-info'>
            <h6>Number</h6>
            <h6 class='info-separator'>&nbsp; - &nbsp;</h6>
            <h6>{{ basicInfo.number }}</h6>
        </div> 
  
        <div class='add-buttons'>
            <i id='{{ basicInfo.id }}-collection-button' class="fas fa-plus-circle" [class.text-color-green]="collection.includes(basicInfo.id)" (click)="addToCollection(basicInfo.id, basicInfo.name)"></i>
            <i id='{{ basicInfo.id }}-wishlist-button' class="fab fa-gratipay" [class.text-color-red]="wishlist.includes(basicInfo.id)" (click)="addToWishlist(basicInfo.id, basicInfo.name)"></i>
        </div>
        <div class='estimated-value'>
          <p>Estimated Value - ${{ estimatedValue }}</p>
        </div>
      </div>
    </div>
  
    <div class="info-container">
      <div class='available-ebay-listings' *ngIf='availableEbayListings != null && availableEbayListings.length > 0 && !showCompletedListings'>
        <div class='ebay-table-header'>
          <div class='past-listings-btn animated fadeIn' (click)='getCompletedListings(25)'>
              <i>See sales history </i> 
              <i class="fas fa-arrow-right"></i>
          </div>
        </div>
        <table>
          <tr class='column-headings'>
            <th></th>
            <th>Title</th> 
            <th>Location</th>
            <th>Current Price</th>
            <th>Ends in</th>
          </tr>
          <tr *ngFor='let ebayListing of availableEbayListings' class='animated bounceInRight'>
            <td class='image-column'><img src='{{ ebayListing.galleryURL }}' /></td>
            <td>
              <a class='listing-title' href='{{ ebayListing.viewItemURL }}' target='_blank'>
                <span *ngIf="ebayListing.listingInfo[0].listingType[0] != 'Auction'">
                  [ Buy it Now ]
                  <span *ngIf='ebayListing.listingInfo[0].bestOfferEnabled[0] == "true"'>[ Best Offer ]</span>
                  <br/>
                </span>
                <span *ngIf="ebayListing.listingInfo[0].listingType[0] == 'Auction'">
                  [ Auction ]
                  <span *ngIf='ebayListing.listingInfo[0].bestOfferEnabled[0] == "true"'>[ Best Offer ]</span>
                  <br/>
                </span>
                {{ ebayListing.title }}
              </a>
              
            </td>
            <td>
              {{ ebayListing.location[0] }}
              <br/>
              {{ ebayListing.location[1] }}
            </td>
            <td>
              ${{ ebayListing.sellingStatus[0].convertedCurrentPrice[0].__value__ }} 
              {{ ebayListing.sellingStatus[0].convertedCurrentPrice[0]['@currencyId']}}
              <br/>
              + Shipping
            </td>
            <td class='listing-countdown'>
              <countdown-timer [end]="ebayListing.listingInfo[0].endTime[0]"></countdown-timer>
            </td>
          </tr>
        </table>
      </div>
    
      <div class='available-ebay-listings sold-ebay-listings' *ngIf='availableEbayListings != null && availableEbayListings.length > 0 && showCompletedListings'>
        <div class='ebay-table-header'>
          <div class='past-listings-btn' (click)='getEbayListings(25)'>
              <i>See current listings </i> 
              <i class="fas fa-arrow-right"></i>
          </div>
        </div>
        <table>
          <tr class='column-headings'>
            <th></th>
            <th>Title</th> 
            <th>Location</th>
            <th>Sold Price</th>
            <th>Sold Date</th>
          </tr>
          <tr *ngFor='let ebayListing of availableEbayListings' class='animated bounceInRight'>
            <td class='image-column'><img src='{{ ebayListing.galleryURL }}' /></td>
            <td>
              <a class='listing-title' href='{{ ebayListing.viewItemURL }}' target='_blank'>
                <span *ngIf="ebayListing.listingInfo[0].listingType[0] != 'Auction'">[Buy it Now]<br/></span>
                <span *ngIf="ebayListing.listingInfo[0].listingType[0] == 'Auction'">[Auction]<br/></span>
                {{ ebayListing.title }}
              </a>
              
            </td>
            <td>
              {{ ebayListing.location[0] }}
              <br/>
              {{ ebayListing.location[1] }}
            </td>
            <td>
              ${{ ebayListing.sellingStatus[0].convertedCurrentPrice[0].__value__ }} 
              {{ ebayListing.sellingStatus[0].convertedCurrentPrice[0]['@currencyId']}} 
              <br/>
              + Shipping
            </td>
            <td class='listing-countdown'>
              <span *ngFor='let datePartial of convertToReadableDate(ebayListing.listingInfo[0].endTime[0])' style="margin: 1px;">
                {{ datePartial }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class='more-pops-container'>
      <h5 class='more-in' *ngIf='categorypops != null && categorypops.length > 0'>More in {{ basicInfo.categoryName }}</h5>
      <div class='more-in-category' *ngIf='categorypops != null && categorypops.length > 0'>
          <div class='category-pops'>
            <div routerLink="/funko/{{funkopop.series}}/{{funkopop.category}}/{{funkopop.name}}" class='individual-category-pop' *ngFor='let funkopop of categorypops'>
                <img src="http://localhost:8000/api/funkopop/{{ funkopop.image }}" />
            </div>
          </div>
      </div>
    
      <h5 class='more-in' *ngIf='seriespops != null && seriespops.length > 0'>More in Pop! {{ basicInfo.seriesName }}</h5>
      <div class='more-in-series' *ngIf='seriespops != null && seriespops.length > 0'>
        <div class='series-pops'>
          <div routerLink="/funko/{{funkopop.series}}/{{funkopop.category}}/{{funkopop.name}}" class='individual-series-pop' *ngFor='let funkopop of seriespops'>
              <img src="http://localhost:8000/api/funkopop/{{ funkopop.image }}" />
          </div>
        </div>
      </div>
  </div>
</div>