<div class='content' *ngIf='basicInfo != null'>
  <div class='specific-pop-info'>
    <div class='info-card animated bounceInLeft'>
  
      <h5 class='pop-name'>{{ basicInfo.name }}</h5>
  
      <div class='image-container'>
        <img src="{{ apiService.baseURL }}/funkopop/{{ basicInfo.image }}" />
      </div>
      <div class="info-text">
        
        <div class='series-info'>
            <h6>Series</h6>
            <h6 class='info-separator'>&nbsp; : &nbsp;</h6>
            <h6>Pop! {{ basicInfo.seriesName }} </h6>
        </div>
  
        <div class='category-info'>
            <h6>Category</h6>
            <h6 class='info-separator'>&nbsp; : &nbsp;</h6>
            <h6>{{ basicInfo.categoryName }}</h6>
        </div>
  
        <div class='number-info'>
            <h6>Number</h6>
            <h6 class='info-separator'>&nbsp; : &nbsp;</h6>
            <h6>{{ basicInfo.number }}</h6>
        </div> 
  
        <div class='add-buttons'>
            <i id='{{ basicInfo.id }}-collection-button' class="fas fa-plus-circle" [class.text-color-green]="collection.includes(basicInfo.id)" (click)="addToCollection(basicInfo.id, basicInfo.name)"></i>
            <i id='{{ basicInfo.id }}-wishlist-button' class="fab fa-gratipay" [class.text-color-red]="wishlist.includes(basicInfo.id)" (click)="addToWishlist(basicInfo.id, basicInfo.name)"></i>
        </div>
        <div class='estimated-value'>
          <p>Estimated Value - <span class='text-color-green' style='font-weight: bold'>${{ basicInfo.value }}</span></p>
        </div>
      </div>
    </div>
    <div class='more-pops-container animated fadeIn delay-1s'>

      <div class='more-pops' *ngIf='categorypops != null && categorypops.length > 0'>
        <h5 class='more-in'>More in {{ basicInfo.categoryName }}</h5>
        <div class='more-in-category'>
          <div class='category-pops'>
            <mdb-carousel class="carousel" [animation]="'slide'">
              <mdb-carousel-item class='more-carousel-item' routerLink="/funko/{{funkopop.series}}/{{funkopop.category}}/{{funkopop.name}}" *ngFor='let funkopop of categorypops'>
                <img class="d-block w-100" src="{{ apiService.baseURL }}/funkopop/{{ funkopop.image }}">
              </mdb-carousel-item>
            </mdb-carousel>
  
          </div>
        </div>
      </div>

      <div class='more-pops' *ngIf='seriespops != null && seriespops.length > 0'>
        <h5 class='more-in'>More in Pop! {{ basicInfo.seriesName }}</h5>
        <div class='more-in-series'>
          <div class='series-pops'>
            <mdb-carousel class="carousel" [animation]="'slide'">
                <mdb-carousel-item class='more-carousel-item' routerLink="/funko/{{funkopop.series}}/{{funkopop.category}}/{{funkopop.name}}" *ngFor='let funkopop of seriespops'>
                  <img class="d-block w-100" src="{{ apiService.baseURL }}/funkopop/{{ funkopop.image }}">
                </mdb-carousel-item>
              </mdb-carousel>
  
          </div>
        </div>
      </div>
          
    </div>
  </div>
  <div class='right-column-container'>
    <canvas #saleChart id="saleChart" width="350" height="100"></canvas>
    <div class="info-container" [class.centerLoading]='availableEbayListings == null && completedListings == null'><img src='assets/loading.gif' *ngIf='availableEbayListings == null && completedListings == null'/>
      <div class='available-ebay-listings' *ngIf='availableEbayListings != null && !showCompletedListings'>
        <div class='ebay-table-header'>
          <div class='past-listings-btn animated fadeIn' (click)='staggerListings()'>
              <i>See sales history </i> 
              <i class="fas fa-arrow-right"></i>
          </div>
          <p class="table-info-notes">
            <i>U.S. listings only. Shipping cost not included.</i>
            <i class="fas fa-shopping-cart buy-it-now"></i> Buy It Now
            <i class="fas fa-gavel auction"></i> Auction 
            <i class="fas fa-hand-holding-usd best-offer"></i> Best Offer
            </p>
        </div>
        <table>
          <tr class='column-headings'>
            <th></th>
            <th>Title</th> 
            <th>Location</th>
            <th>Current Price</th>
            <th>Ends in</th>
          </tr>
          <tr *ngFor='let ebayListing of availableEbayListings' class='animated fadeIn'>
            <td class='image-column'><img src='{{ ebayListing.galleryURL }}' /></td>
            <td>
              <a class='listing-title' href='{{ ebayListing.viewItemURL }}' target='_blank'>
                {{ ebayListing.title }}
                <br/>
              </a>
              <span *ngIf="ebayListing.listingInfo[0].listingType[0] != 'Auction'">
                  <i class="fas fa-shopping-cart buy-it-now"></i>
                  <span *ngIf='ebayListing.listingInfo[0].bestOfferEnabled[0] == "true"'><i class="fas fa-hand-holding-usd best-offer" data-toggle="tooltip" data-placement="top" title="Best Offer"></i></span>
                  <br/>
                </span>
                <span *ngIf="ebayListing.listingInfo[0].listingType[0] == 'Auction'">
                  <i class="fas fa-gavel auction"></i>
                  <span *ngIf='ebayListing.listingInfo[0].bestOfferEnabled[0] == "true"'><i class="fas fa-hand-holding-usd best-offer"></i></span>
                </span>
            </td>
            <td>
              {{ ebayListing.location[0] }}
              <!-- Country -->
              <!--
              <br/>
              {{ ebayListing.location[1] }}
              -->
            </td>
            <td>
              ${{ ebayListing.sellingStatus[0].convertedCurrentPrice[0].__value__ }} 
              {{ ebayListing.sellingStatus[0].convertedCurrentPrice[0]['@currencyId']}}
            </td>
            <td class='listing-countdown'>
              <countdown-timer [end]="ebayListing.listingInfo[0].endTime[0]"></countdown-timer>
            </td>
          </tr>
        </table>
      </div>
    
      <div class='available-ebay-listings sold-ebay-listings' *ngIf='completedListings != null && showCompletedListings'>
        <div class='ebay-table-header'>
          <div class='past-listings-btn' (click)='staggerListings()'>
              <i>See current listings </i> 
              <i class="fas fa-arrow-right"></i>
          </div>
          <p class="table-info-notes">
            <i>U.S. listings only. Shipping cost not included.</i>
            <i class="fas fa-shopping-cart buy-it-now"></i> Buy It Now
            <i class="fas fa-gavel auction"></i> Auction 
            <i class="fas fa-hand-holding-usd best-offer"></i> Best Offer
          </p>
        </div>
        <table>
          <tr class='column-headings'>
            <th></th>
            <th>Title</th> 
            <th>Location</th>
            <th>Sold Price</th>
            <th>Sold Date</th>
          </tr>
          <tr *ngFor='let ebayListing of completedListings' class='animated fadeIn'>
            <td class='image-column'><img src='{{ ebayListing.galleryURL }}' /></td>
            <td>
              <a class='listing-title' href='{{ ebayListing.viewItemURL }}' target='_blank'>
                {{ ebayListing.title }}
              </a>
              <span *ngIf="ebayListing.listingInfo[0].listingType[0] != 'Auction'"><br/><i class="fas fa-shopping-cart buy-it-now"></i></span>
              <span *ngIf="ebayListing.listingInfo[0].listingType[0] == 'Auction'"><br/><i class="fas fa-gavel auction"></i></span>
              
            </td>
            <td>
              {{ ebayListing.location[0] }}
              <!-- Country -->
              <!--
              <br/>
              {{ ebayListing.location[1] }}
              -->
            </td>
            <td>
              ${{ ebayListing.sellingStatus[0].convertedCurrentPrice[0].__value__ }} 
              {{ ebayListing.sellingStatus[0].convertedCurrentPrice[0]['@currencyId']}} 
            </td>
            <td class='listing-countdown'>
              {{ ebayListing.listingInfo[0].endTime[0] }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>