<div class='content'>
  <div class='left-container'>
      <img class="mobile-avatar" src="assets/me-funko-pop.png"/>
      <h3>
          WELCOME TO FUNKOLLECTION
      </h3>
      <div class='login-container'>
          <form>
              <div class="form-group">
                <span class="input-group-text input-group-prepend"><i class="fas fa-user-tie"></i></span>
                <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Username" required>
            </div>
              <div class="form-group">
                  <span class="input-group-text input-group-prepend"><i class="fas fa-unlock-alt"></i></span>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" id="passwordinput" placeholder="Password" required>
                </div>
              
              <button type="submit" class="btn btn-primary" (click)="login()">
                <img class='login-gif' src='assets/loading-white.gif' *ngIf='loggingIn'/>
                  <span *ngIf='!loggingIn'>Login</span>
                </button>
            </form>
            <div class="register-link">
                <a [routerLink]="['/register']" (click)="_helperService.removeAllErrors()">Don't have an account?</a>
            </div>
            <div class="reset-link">
                <a [routerLink]="['/reset-password']">Forgot password?</a>
            </div>
            
      </div>
        
  </div>
  <div class='right-container'>
    <img src='assets/me-funko-pop.png'/>
    <h3>
        UPLOAD AND KEEP TRACK OF YOUR POP! VINYLS
      </h3>
  </div>
</div>
