.content{
    height: 100%;
    width: 100%;
    min-width: 320px;
    display: flex;
}

.left-container{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.left-container h3{
    color: #007CEC;
    margin-bottom: 40px;
    text-align: center;
}

.left-container .mobile-avatar{
    width: 75px;
    display: none;
}

.login-container{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.login-container .input-group{
    display: flex !important;
}

.login-container input, .login-container button{

    width: 100%;

    border-radius: 30px;
    text-align: center;
    margin: 10px 0;

    border-color: #007CEC;
    background: #ffffff;
    color: #007CEC;
}

.login-container button{
    background: #007CEC;
    color: #ffffff;
}

.login-container input::placeholder{
    color: #007CEC;
}

.right-container{
    width: 50%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #007CEC;
}

.right-container *{
    color: #ffffff;
    text-align: center;

}

.right-container h3{
    margin-top: 40px;
}

h3{
    color: #ffffff;

    width: 100%;
    max-width: 500px;

    font-weight: bold;

    letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
    .content{
        flex-direction: column;
        justify-content: space-around;

        background: #007CEC;

        
    }

    .left-container{
        width: 100%;
        height: 100%;
        padding: 0 20px;


    }

    .left-container h3{
        color: #ffffff;
        margin: 20px 0;
        text-align: center;
    }

    .left-container .mobile-avatar{
        display: block;
    }

    .left-container input{
        border-color: #ffffff;
        background: #007CEC;
        color: #ffffff;

    }

    .login-container button{
        background: #ffffff;
        color: #007CEC;
    }

    .left-container input::placeholder{
        color: #ffffff;
    }

    .right-container{
        display: none;
    }

    a{
        color: #ffffff;
    }
}
