.error-notice{
    width: 100%;
    height: 56px;

    position: fixed;
    background-color: #FFBABA;
    z-index: 10001;

    bottom: 0;

    transform: translateY(100px);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);

    color: #D8000C;

    padding: 20px;

    transition-property: transform;
    transition-duration: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-notice .error-text{
    margin-left: 10px;
}

.error-notice .close-error-container:hover{
    cursor: pointer;
}

.show-error-msg{
    transform: translateY(0);
}