<!--The content below is only a placeholder and can be replaced.-->

<div class="success-notice" [class.show-success-msg]="_helperService.successOccured">

    <div class="close-success-container" (click)="_helperService.removeAllSuccess()">
      <i class="fas fa-times"></i>
    </div>
  
    <div class="success-text">
        {{ _helperService.successText }}
    </div>
    
  </div>

<router-outlet></router-outlet>

<div class="error-notice" [class.show-error-msg]="_helperService.errorOccured">

  <div class="close-error-container" (click)="_helperService.removeAllErrors()">
    <i class="fas fa-times"></i>
  </div>

  <div class="error-text">
      {{ _helperService.errorText }}
  </div>
  
</div>