<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<router-outlet></router-outlet>


<div class="error-notice" [class.show-error-msg]="_helperService.errorOccured">

  <div class="close-error-container" (click)="_helperService.hideErrorMessages()">
    <i class="fas fa-times"></i>
  </div>

  <div class="error-text">
      {{ _helperService.errorText }}
  </div>
  
</div>