<div class="content">
  <div class="content-left">
      <div class="upload-container">
          <form #uploadForm="ngForm" id='uploadingForm' (submit)='uploadPop(uploadForm)'>
              <div class="form-group">
                <label for="exampleFormControlFile1">Upload a Funko Pop to your collection!</label>
                <input type="file" [(ngModel)]="imagePath" name="imagePath" class="form-control-file" id="#imgInp" accept="image/*" (change)="readURL($event);" required>
    
                <select  #selectedSeries [(ngModel)]="seriesSelector" name="seriesSelector" class="form-control" id="series" (change)="checkSeriesSelection(selectedSeries.value)">
                <option [ngValue]="undefined" disabled  selected> Series </option>
                  <option *ngFor="let item of series">{{ item.name }}</option>
                  <option>Add new series...</option>
                </select>
    
                <input *ngIf="displayNewSeriesInput" (input)='checkNewSeriesInput()' [(ngModel)]="seriesInput" name="seriesInput" type="text" class="form-control" id="new-series" placeholder="New Series" required>            
                
                <select  #selectedCategory [(ngModel)]="categorySelector" name="categorySelector" class="form-control" id="category" (change)="checkCategorySelection(selectedCategory.value)">
                  <option [ngValue]="undefined" disabled  selected> Category </option>
                  <option *ngFor="let item of categories">{{ item.name }}</option>
                  <option>Add new category...</option>
                </select>
    
                <input *ngIf="displayNewCategoryInput" (input)='checkNewCategoryInput()' [(ngModel)]="categoryInput" name="categoryInput" type="text" class="form-control" id="new-category" placeholder="New Category" required>            
                
                <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name" placeholder="Name" required>
    
                <input type="number" [(ngModel)]="number" name="number" min="0" max="999" class="form-control" id="number" placeholder="Number" required>
              
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!uploadForm.valid">Upload</button>
          </form>
      </div>
  </div>
  
  <div class="content-right">
      <img id="popPreview" [src]="imageSrc || 'assets/diy_male.jpg'" alt="Funko Pop" />
    </div>
</div>

