#popPreview{
    width: 200px;
}

.upload-container{
    width: 100%;
    max-width: 500px;

    display: flex;
    justify-content: center;
}

.upload-container form{
    width: 100%;

    padding: 20px 10px;
}