.content{
    display: flex;
}

.content-left{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.content-right{
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#popPreview{
    width: 200px;
}

.upload-container{
    width: 100%;
    max-width: 500px;

    display: flex;
    justify-content: center;
}

.upload-container form{
    width: 100%;

    padding: 20px 10px;
}

input, img, select{
    margin-bottom: 10px;
}


@media only screen and (max-width: 480px) {
    .content-right{
        display: none;
    }

    .content-left{
        width: 100%;
    }
}