<div class="body-container">
  <div class="upload-container">
      <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Upload a Funko Pop to your collection!</label>
            <input type="file" class="form-control-file" id="#imgInp" accept="image/*" (change)="readURL($event);" required>
            <img id="popPreview" [src]="imageSrc || '../../assets/diy_male.jpg'" alt="Funko Pop" />
            <input type="text" class="form-control" id="name" placeholder="Name" required>
            <select  #selectedSeries class="form-control" id="series" (change)="checkSelection(selectedSeries.value)">
              <option>Series</option>
              <option *ngFor="let item of series">{{ item.name }}</option>
              <option>Other</option>
            </select>
            <input *ngIf="displayNewSeriesInput" type="text" class="form-control" id="new-series" placeholder="New Series">            
            <input type="text" class="form-control" id="category" placeholder="Category" required>
            <input type="number" class="form-control" id="number" placeholder="Number" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>

