/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #282B2D;

    overflow-x: hidden;
}

body{
    height: calc(100% - 56px);
    margin: 0;
    background: #282B2D;
}

html body.swal2-height-auto{
    height: calc(100% - 56px) !important;
}

html{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.content{
    background: #282B2D;
    width: 100%;
    min-height: 100%;

    margin-top: 56px;

    padding: 20px 10%;

}


.text-color-green{
    color: lightgreen !important;
}

.text-color-red{
    color: lightcoral !important;
}


/* CUSTOM CSS FOR SWAL2 MODALS ON DASHBOARD */
.swal2-container .more-info-modal{
    padding: 0;
}

.swal2-container .swal2-popup .swal2-title{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #3CA5AD;
    padding: 20px 0;
}

.swal2-container .swal2-popup .swal2-actions{
    margin: 0;
    padding: 10px 0;
}


.swal2-container .more-info-modal .swal2-header{
    flex-direction: column-reverse;
}

.pop-modal-information{
    font-size: 18px;
}

.pop-modal-information div{
    margin: 5px 0;
}

.more-info-type{
    font-weight: bold;
}




@media only screen and (max-width: 480px) {
    .content{
        padding: 0;
    }
}


//md bootstrap custom css

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next{
    background: rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 767px) {
    .carousel .carousel-control-prev, .carousel .carousel-control-next{
        background: rgba(0, 0, 0, 0.5);
    }
}




