<div class="content">
  <div class="return-container">
      <a class="btn btn-primary login-button" [routerLink]="['/login']"><i class="fas fa-arrow-circle-left"></i> Sign In</a>
  </div>
  <div class="signup-container">
    <div class="progress-container">
      <div class="progress-bar">
          <div class="step step-one">
              <i class="fas fa-user-cog step-icon"></i>
          </div>
          <div class="connector connector-one">
            <div id="connector-one-progress-bar" [class.fill-width]="stepOneComplete" class="connector-progress-bar" role="progressbar"aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="step step-two" [class.fill-background]="startStepTwo && !goBackToStepOne">
              <i class="fas fa-user-edit step-icon"></i>
          </div>
          <div class="connector connector-one">
            <div id="connector-two-progress-bar" class="connector-progress-bar" [class.fill-width]="stepTwoComplete" role="progressbar"aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="step step-three" [class.fill-background]="stepTwoComplete && !goBackToStepTwo">
            <i class="fas fa-search step-icon"></i>
          </div>
      </div>
      <div class="step-labels">
        <div class="label">Account Setup</div>
        <div class="label">Personal Details</div>
        <div class="label">Review</div>
      </div>
    </div>

    <div class="overlay-signup-forms">
      <div class="sign-up-form animated" [class.zoomOut]="stepOneComplete && !goBackToStepOne" [class.zoomIn]="goBackToStepOne">
        <div class="step-titles">
          <div class="stage-icon">
              <i class="fas fa-user-cog"></i>
          </div>
            <h5 class="stage-title"> Create Your Account </h5>
          </div>
        <form #f="ngForm">  
          <div class="form-group email-form-group">
              <span class="input-group-text input-group-prepend"><i class="far fa-envelope"></i></span>
              <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter email" required email>
          </div>
          <div class="form-group">
            <span class="input-group-text input-group-prepend"><i class="fas fa-unlock-alt"></i></span>
            <input type="password" [(ngModel)]="password" (input)="checkPassword()" name="password" class="form-control" id="passwordinput" placeholder="Password" required>
          </div>
          <div class="form-group verifyPassword-form-group">
            <span class="input-group-text input-group-prepend"><i class="fas fa-unlock-alt"></i></span>
            <input type="password" [(ngModel)]="verifyPassword" (input)="checkPassword()" name="verifyPassword" class="form-control" id="verifypassword" placeholder="Re-enter password" required>  
          </div>   
          <small id="passwordAlert" class="form-text" *ngIf="!passwordMatch">*Passwords do not match</small>

        </form>
        <div class="button-container">
            <div style="opacity: 0; width: 10px; height: 10px"></div>
            <button class="btn next-btn" (click)="finishStepOne()" [class.show-next-btn]="f.valid && passwordMatch" [disabled]="!f.valid || !passwordMatch" >Next</button>
          </div>
      </div>
  
      <div class="sign-up-form animated" *ngIf="stepOneComplete" [class.fadeInRight]="stepOneComplete && !goBackToStepOne" [class.fadeOutRight]="goBackToStepOne" [class.zoomOut]="stepTwoComplete && !goBackToStepTwo" [class.zoomIn]="goBackToStepTwo">
          <div class="step-titles">
              <div class="stage-icon">
                  <i class="fas fa-user-edit"></i>
              </div>
              <h5 class="stage-title"> Personal Information </h5>
            </div>
          <form #usernameForm="ngForm">  
            <div class="form-group username-form-group">
              <span class="input-group-text input-group-prepend"><i class="fas fa-user-tie"></i></span>
              <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Username" required>
            </div>
            <div class="form-group">
              <span class="input-group-text input-group-prepend"><i class="fas fa-pencil-alt"></i></span>
              <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group lastname-form-group">
              <span class="input-group-text input-group-prepend"><i class="fas fa-pencil-alt"></i></span>
              <input type="lastName" [(ngModel)]="lastName" name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>  
            </div>   
          </form>
          <div class="button-container">
              <button class="btn prev-btn" (click)="backToStepOne()">Previous</button>
              <button class="btn next-btn" (click)="finishStepTwo()" [disabled]="!usernameForm.valid" [class.show-next-btn]="usernameForm.valid">Next</button>
            </div>
        </div>
  
        <div class="sign-up-form animated fadeInRight" *ngIf="stepTwoComplete && !registerSuccess" [class.fadeInRight]="stepTwoComplete" [class.fadeOutRight]="goBackToStepTwo">
            <div class="step-titles">
              <div class="stage-icon">
                <i class="fas fa-search"></i>             
              </div>
              <h5 class="stage-title"> Review </h5>
            </div>
            <form #reviewForm="ngForm" class="reviewForm"> 
              <div class="form-group">
                <i class="far fa-envelope"></i>
                <h6> {{ email }} </h6>
              </div>
              <div class="form-group">
                <i class="fas fa-user-tie"></i>
                <h6> {{ username }} </h6>
              </div>
              <div class="form-group">
                <i class="fas fa-pencil-alt"></i>
                <h6> {{ firstName }} {{ lastName }} </h6>
              </div>
            </form>
            <div class="button-container">
                <button class="btn prev-btn" (click)="backToStepTwo()">Previous</button>
                <button class="btn next-btn" [disabled]="!reviewForm.valid" [class.show-next-btn]="reviewForm.valid" (click)="submitRegistration()">Submit</button>
              </div>
          </div>
          
          <div class="sign-up-form success-message-container" *ngIf="registerSuccess">
            <div class="check_mark">
              <div class="sa-icon sa-success animate">
              <span class="sa-line sa-tip animateSuccessTip"></span>
              <span class="sa-line sa-long animateSuccessLong"></span>
              <div class="sa-placeholder"></div>
              <div class="sa-fix"></div>
              </div>
            </div>
            
            <div class="success-text-container"> 
              <h3>Awesome!</h3>
              <p>Thank you for registering. You may now login. Enjoy funkollecting!</p>
              <button class="btn login-button" [routerLink]="['/login']">Return To Login</button>
            </div>
          </div>
    </div>
    </div>
    
</div>