<div class="content">
  <div class="return-container">
      <a class="btn btn-primary login-button" [routerLink]="['/login']"><i class="fas fa-arrow-circle-left"></i> Sign In</a>
  </div>
  <div class="signup-container">
    <div class="progress-container">
      <div class="progress-bar">
          <div class="step step-one">
            <div class="step-progress-bar step-one-progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <i class="fas fa-user"></i>
            </div>
          </div>
          <div class="connector connector-one">
            <div class="connector-progress-bar connector-one-progress-bar" role="progressbar"aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="step step-two">
            <div class="step-progress-bar step-two-progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <i class="fas fa-newspaper"></i>
            </div>
          </div>
          <div class="connector connector-one">
            <div class="connector-progress-bar connector-two-progress-bar" role="progressbar"aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="step step-three">
            <div class="step-progress-bar step-three-progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <i class="fas fa-search"></i>
            </div>
          </div>
      </div>
      <div class="step-labels">
        <div class="label">Account Setup</div>
        <div class="label">Personal Details</div>
        <div class="label">Review</div>
      </div>
    </div>
  </div>
</div>
