.content{
    width: 100%;
    height: calc(100% + 56px);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    background: #1C1C1E url(../../assets/transparent-bgs/inspiration-geometry.png);

    margin: 0;
}

.return-container{
    width: 100%;
    height: 40px;
}

.login-button{
    border: 1px solid #44C8BA;
    color: #44C8BA !important;
    background: #1C1C1E;

    text-transform: uppercase;
}

.login-button:hover{
    background: #44C8BA;
    color: #F8F9FD !important;
}

.signup-container{
    width: 100%;
    max-width: 750px;
    height: calc(100% - 60px);
    max-height: 500px;

    margin-top: 40px;


}

.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 0;
}

.progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: calc(100% - 100px);

    background: transparent;
}


.step, .connector{
    background: #9EA1A6;
}

.step{
    width: 50px;
    height: 50px;
    border-radius: 50%;


    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 1s;
}


.connector{
    width: calc((100% - 150px) / 2);
    height: 10px;
}

.step-icon{
    color: #F8F9FD;
    font-size: 25px;
}

.step-one{
    background: #44C8BA;
}

.connector-progress-bar{
    height: 10px;
    transition-property: width;
    transition-duration: 1s;
    background: #44C8BA;
    width: 0;
}


.step-labels{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.label{
    margin-top: 5px;
    color: #44C8BA;
    font-weight: bold;
    width: 150px;

    font-size: 12px;
    text-align: center;

    text-transform: uppercase;
}

.sign-up-form{

    padding: 5% 10%;
    border-radius: 5px;
    color: #F2F2F2;
    font-weight: bold;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    position: absolute;
    width: 100%;

    border: 1px solid #44C8BA;
    background: #1C1C1E;
}

.next-btn, .prev-btn{
    border: 1px solid #44C8BA;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.button-container button:hover{
    background: #44C8BA;
    color: #F8F9FD;
}

.button-container button{
    background: #1C1C1E;
    color: #44C8BA;

    transition-property: background-color, color, opacity;
    transition-duration: 0.15s;
}

.step-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stage-icon{
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 2px solid #44C8BA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.stage-title{
    margin-top: 10px;
    font-weight: bold;
}

#passwordAlert, #emailTakenAlert, #userNameTakenAlert{
    color: #44C8BA;
}

.verifyPassword-form-group{
    margin-bottom: 1em;
}

.fill-width{
    width: 100%;
}

.empty-width{
    width: 0;
}

.fill-background{
    background-color: #44C8BA;
}

.empty-background{
    background-color: #F2F2F2;
}

.overlay-signup-forms{
    position: relative;
    width: 100%;
}

.next-btn{
    transition-property: opacity;
    transition-duration: 0.5s;
    opacity: 0;
}

.show-next-btn{
    opacity: 1;
}

.form-group{
    display: flex;
    color: #F8F9FD;
    padding: 10px 0;
}

.form-group .input-group-prepend{
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #C8CBD0;
    color: #F8F9FD;

    padding-left: 0;
}

.form-group input{
    border: none;
    border-bottom: 1px solid #C8CBD0;
    border-radius: 0;
    background: #1C1C1E;
    color: #f8f8f8;

}

.form-group input::placeholder{
    color: #9EA1A6;
}

.reviewForm i{
    font-size: 20px;
    margin-right: 20px;
    color: #44C8BA;
}

.reviewForm h6{
    border-bottom: 1px solid #9EA1A6;
    width: 100%;
}

.success-text-container{
    font-weight: normal;
}

.success-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.email-form-group, .username-form-group{
    margin-bottom: 0;
}


@media only screen and (max-width: 480px) {
    .return-container a{
        font-size: 14px;
        
    }

    .signup-container{
        margin-top: 0px;

        display: flex;
        flex-direction: column;
        max-height: 500px;
    }

    #emailHelp, #passwordAlert{
        font-size: 9px;
        margin-bottom: 5px;
    }

    .form-group{
        margin-bottom: 0.5em;
    }

    .signup-container h5{
        font-size: 16px;
    }

    .signup-container label, .signup-container input, .signup-container button, .reviewForm h6{
        font-size: 12px;
    }
    
    .progress-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: calc(100% - 50px);
    }

    .step-icon{
        font-size: 17px;
    }

    .step{
        width: 40px;
        height: 40px;
    }

    .connector{
        width: calc((100% - 90px) / 2);
        height: 7px;
    }

    .label{
        display: none;
    }

    .step-progress-bar{
        height: 40px;
    }

    .connector-progress-bar{
        height: 7px;
    }

    .sign-up-form{
        margin-top: 0px;
    }
}


  
  
  
