<div class='content'>
  <h1>Non-Affiliation Disclaimer</h1>
  <h4>
    Any product names, logos, brands, and other trademarks or images featured or referred to within the Funkollection website 
    (https://ialberttran.github.io/funkollection/) and/or on any social media forum are the property of their respective trademark holders. 
    These trademark holders are not affiliated with Funkollection or its website. These trademark holders do not sponsor or endorse Funkollection
    or any of its products or comments.
  </h4>
  <h4>
    Further, Funkollection is not affiliated with, endorsed by, or sponsored by Funko or any of their affiliates or subsidiaries.
  </h4>
  <h4>
      We declare no affiliation, sponsorship, nor any partnerships with any registered trademarks. Funkollection stands independently 
      as purely a collection and value tracking website.
  </h4>
  <h4>
      Should you have any questions or concerns please contact Funkollection at no.reply.funkollection@gmail.com.
  </h4>
</div>